__pycache__/
node_modules/
frontend/node_modules/
.env
.env.local
.env.*.local
backend/.env
frontend/.env
uploads/
instance/
*.pyc
dist/
build/
*.sqlite
/migrations/
/venv/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
*.zip
